# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://qjvuztzlkrpawyolldki.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqdnV6dHpsa3JwYXd5b2xsZGtpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2NTA5MDMsImV4cCI6MjA5MzIyNjkwM30.n1KypsKXdfWghDbGtO72DNc2x0QB5UVXUiFBjWJ_EzM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFqdnV6dHpsa3JwYXd5b2xsZGtpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzY1MDkwMywiZXhwIjoyMDkzMjI2OTAzfQ.lKcDH4C_CGgqb1o_Xulc1VuGO7n3EkMiGsS_G6-IXew